# cache
**/__pycache__/

# mypy
.mypy_cache/

# environments
.venv/

# vscode configs
.vscode/

# manual testing
tests/manual_tests.py

# buidling executable file
build/
dist/

# output files
inventories/